@font-face {
    font-family: GOTHIC;
    src: url(../fonts/GOTHIC.TTF);
}

@font-face {
    font-family: GOTHIC;
    src: url(../fonts/GOTHICB.TTF);
    font-weight: bold;
}

@font-face {
    font-family: GOTHIC;
    src: url(../fonts/GOTHICBI.TTF);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: GOTHIC;
    src: url(../fonts/GOTHICI.TTF);
    font-style: italic;
}

.container {
    font-family: "Century Gothic";
    margin: 0;
    color: #405CB0;
    width: 2560px;
    height: 1440px;
}

.container .station_name {
    height: 280px;
    width: 580px;
    font-weight: bold;
    font-size: 110px;
    position: absolute;
    top: 54px;
    left: 62px;
    word-wrap: break-word;
}

.container .bus_img {
    width: 85px;
    height: 112px;
    position: absolute;
    left: 668px;
    top: 178px;
}

.container .buses {
    position: absolute;
    top: 345px;
    left: 62px;
    width: 702px;
    height: 1040px;
    border-top: 8px solid;
    border-bottom: 8px solid;
}

.container .buses .bus_header {
    margin: 20px 0 50px 10px;
    font-size: 48px;
}

.container .buses .bus_header .bus_header_right {
    float: right;
    position: relative;
    right: 2px;
}

.container .buses .bus_detail {
    margin-bottom: 70px;
}

.container .buses .bus_name {
    font-weight: bold;
    font-size: 100px;
}

.container .buses .bus_time {
    float: right;
    position: relative;
    top: 18px;
    right: 20px;
    display: inline;
    font-style: italic;
    font-size: 70px;
}

.container .daily_info {
    width: 1640px;
    height: 200px;
    position: absolute;
    left: 829px;
    top: 0;
    padding: 53px 0 0 46px;
    border-left: solid 45px;
}

/*.container .daily_info 公用*/
.date {
    float: left;
}

.date .weekday {
    font-size: 43px;
}

.date .date_date {
    font-size: 38px;
}

.date_time {
    float: left;
    position: relative;
    left: 30px;
    top: -10px;
    font-size: 100px;
}

.pm {
    height: 52px;
    width: 478px;
    float: left;
    position: relative;
    top: 9px;
    left: 238px;
    font-size: 60px;
    border-left: solid 11px;
    border-right: solid 11px;
}

.pm .pm_p {
    margin-top: -11px;
}

.pm .pm_left {
    padding-left: 60px;
}

.pm .pm_right {
    float: right;
    margin-right: 88px;
}

.temp {
    float: right;
    position: relative;
    right: 12px;
    font-size: 60px;
}

/* .end.. */

.weather_icon {
    margin-left: 15px;
}

.container .bg_img {
    float: right;
    position: relative;
    top: 251px;
}

.container .map, .container .iframe {
    width: 1732px;
    height: 1440px;
    float: right;
}

/* PAGE 3 */
.page3_header {
    height: 220px;
}

.page3_header .header_left {
    width: 680px;
    height: 100%;
    float: left;
    font-size: 90px;
    background-color: #405CB0;
}

.page3_header .header_left .header_left_content {
    position: relative;
    top: 86px;
    left: 140px;
    color: white;
}

.page3_header .header_right {
    float: left;
    font-size: 80px;
    width: 1640px;
    position: relative;
    top: 54px;
    left: 154px;
}

.page3_content {
    background-color: #405CB0;
}

.waiting_queue {
    width: 2800px;
    height: 420px;
    color: white;
    position: relative;
    left: 140px;
}

.waiting_queue .waiting_bus {
    width: 445px;
    margin-top: 80px;
    float: left;
    font-size: 265px;
    font-weight: bold;
    margin-right: 400px;
}

.body_news {
    height: 800px;
    width: 100%;
}

.body_news .news_piece {
    height: 400px;
    width: 100%;
}

.news_piece .piece_left {
    height: 100%;
    float: left;
    margin-left: 160px;
    position: relative;
    top:50px;
    width: 1780px;
}

.piece_left .line{
    height:10px;
    width:175px;
    border-bottom: 20px white solid;
    float:left;
}

.piece_left .news_time {
    width: 800px;
    font-size: 35px;
    color: lightblue;
    margin-left: 200px;
}

.piece_left .news_title {
    color: white;
    font-size: 55px;
    margin-top: 55px;
}

.piece_left .news_content {
    color: lightblue;
    font-size: 36px;
    word-wrap: break-word;
    margin-top: 25px;
}

.news_piece .piece_right {
    width: 529px;
    float: right;
    position: relative;
    top:55px;
}

